.cat-change {
  background: $grey;
}

.cat-change__details-title {
  @include font(24px, 24px);
}

.cat-change__details-text {
  @include font(12px, 12px);
}

.cat-change__text {
  @include font(14px, 20px, $font-regular, $black-two);
  text-transform: uppercase;
}

.cat-change__button {
  @include font(16px, 20px, $font-regular, $black-two);
  text-transform: uppercase;

  background: none;
  border: 0;
}
