.features {
  padding: 16px 0 42px;
}

.features__title {
  margin-bottom: 29px;
}

.features__list {
  @include list-reset;
}

.features__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    background: center no-repeat  $green-leaf;
  }

  &:nth-child(1)::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &:nth-child(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &:nth-child(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &:nth-child(4)::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.features__item:last-child {
  margin-bottom: 0;
}

/**
 * Tablet
 */
@media (min-width: $tablet) {
  .features {
    padding-top: 54px;
    padding-bottom: 0;
  }

  .features__title {
    margin-bottom: 74px;
  }

  .features__text {
    @include font(16px, 24px, $font-sans-serif, $brown);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    position: relative;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 109px;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }

    &::after {
      position: absolute;
      display: block;
      left: 116px;
      top: -40px;
      z-index: -1;

      @include font(281px, 281px, $font-regular, $grey);
    }

    &:nth-child(1)::after {
      content: "1";
    }

    &:nth-child(2)::after {
      content: "2";
    }

    &:nth-child(3)::after {
      content: "3";
    }

    &:nth-child(4)::after {
      content: "4";
    }

    &:nth-child(odd) {
      margin-right: 185px;
    }
  }
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .features__list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .features__item {
    width: 243px;

    &::before {
      margin-bottom: 33px;
    }

    &:nth-child(1) .features__text {
      width: 201px;
    }

    &:nth-child(2) .features__text {
      width: 230px;
    }

    &:nth-child(3) .features__text {
      width: 213px;
    }

    &:nth-child(4) .features__text {
      width: 244px;
    }

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
