.footer {
  padding-top: 15px;
}

.footer__map {
  background: $grey;
}

.footer__map--home {
  background: $white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  background: $grey;
}

.footer--color {
  background: $grey;
}

.footer__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 100%;
  padding-bottom: 33px;

  border-bottom: $border;

  text-align: center;
}

.footer__link {
  display: inline-block;
  margin-top: 39px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__address {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
  padding-top: 15px;
}

.footer--form .footer__address {
  padding-top: 32px;
}

.footer__socials {
  width: 100%;
  padding: 22px 0;
  margin: 0;
  justify-content: center;

  border-bottom: $border;
}

.footer__creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  width: 100%;
}

/**
 * Tablet
 */
@media (min-width: $tablet) {
  .footer--home {
    padding-top: 4px;
  }

  .footer .logo__image {
    width: 128px;
    height: 24px;
  }

  .footer__address {
    height: 200px;
    align-items: center;
    padding: 0 36px 0 41px;
  }

  .footer--form .footer__address {
    padding-top: 0;
  }

  .footer__container {
    display: flex;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
  }

  .footer__logo {
    border-bottom: none;

    text-align: left;
  }

  .footer__link {
    margin-top: 34px;
  }

  .footer__socials {
    margin-left: -18px;
    padding: 58px 0;
    border-bottom: none;
  }

  .footer__creator {
    justify-content: flex-end;
  }
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .footer {
    padding-top: 0;
  }

  .footer--color {
    background: $white;
  }

  .footer__map {
    position: relative;
  }

  .footer__wrapper {
    width: 1300px;
  }

  .footer__address {
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 39px;

    width: 570px;
    height: 201px;
    padding: 66px 90px 59px 76px;

    background: white;
  }

  .footer--form .footer__address {
    padding-top: 66px;
  }

  .footer__box .container {
    position: relative;
  }

  .footer__link {
    margin-top: 46px;
  }
}
