.footer {
  padding-top: 31px;
}

.footer__map {
  background: $white;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}

.footer__container {
  background: $grey;
}

.footer__logo {
  display: inline-block;
  padding-top: 39px;
  margin-bottom: 31px;
}

.footer__socials {
  margin: 24px 0 21px;
}

.footer__creator {
  margin-top: 31px;
  padding-bottom: 31px;
}
