::placeholder {
  color: $brown;
}

.form__fieldset {
  margin-left: 0;
  padding: 0 0 20px;

  border: 0;
}

.form__fieldset--one {
  padding-bottom: 28px;
}

.form__fieldset--two {
  padding-bottom: 8px;
}

.form__fieldset--three {
  padding-bottom: 15px;

  .form__legend {
    margin-bottom: 35px;
  }
}

.form__fieldset--four {
  padding-bottom: 19px;

  .form__legend {
    margin-bottom: 35px;
  }
}

.form__legend {
  margin-bottom: 31px;
  width: 100%;
}


.form__subtitle {
  display: flex;
  align-items: center;

  @include font(24px, 24px, $font-regular, $black-two);

  &::before,
  &::after {
    content: "";
    height: 3px;

    background: $green-leaf;
  }

  &::before {
    display: none;
    width: 80px;
    margin-right: 20px;
  }

  &::after {
    min-width: 74px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 20px;
  }
}

.form__column + .form__column {
  margin-top: 20px;
}

.form__field {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__label {
  position: relative;

  margin-right: 12px;

  @include font(16px, 18px, $font-regular, $black);
  color: $black;
  text-transform: uppercase;

  white-space: nowrap;
  cursor: pointer;
}

.form__input {
  width: 100%;
  padding: 13px;

  @include font(16px, 18px, $font-regular, $black);
  text-transform: uppercase;

  border: 1px solid rgba($grey-border, 0.5);

  &:hover {
    border-color: $grey-border;
  }

  &:active,
  &:focus {
    border: 2px solid $brown;
    outline: 0;
  }

  &.form__input--error {
    border: $error;
  }

  &:active + .form__icon {
    fill: $green-leaf;
  }

  &.form__input--error + .form__icon {
    fill: rgb(255, 130, 130);
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 16px;
}

.form__mail {
  width: 18px;
  height: 14px;
  margin-top: -7px;
}

.form__phone {
  width: 21px;
  height: 21px;
  margin-top: -10px;
}

.form__input--email {
  padding-right: 40px;
}

.form__input--phone {
  padding-right: 40px;
}

.form__textarea {
  height: 150px;
}

.form__text {
  @include font(14px, 16px);
  text-align: center;
}

.form__wrapper--checkbox {
  .form__column + .form__column {
    margin-top: 10px;
  }
}

.form__checkbox + .form__label {
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 16px;

    border: $border;
  }

  &:hover::before {
    border-color: $pinkish-grey;
  }

  &::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 7px;

    display: none;
    width: 25px;
    height: 17px;

    background: url("../../img/icon-tick.svg") center no-repeat transparent;
  }
}

.form__checkbox:checked + .form__label::after {
  display: block;
}

.form__radios {
  padding: 20px 20px 22px 0;

  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;

  .form__label {
    &:hover {
      border-color: $pinkish-grey;
    }
  }
}

.form__field--radio {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  .form__label {
    &:active {
      opacity: 0.3;
    }
  }
}

.form__radio + .form__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border-radius: 50%;

    border: $border;
  }

  &:hover::before {
    border-color: $pinkish-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 9px;

    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -6px;

    background: $green-leaf;
  }
}

.form__radio:checked + .form__label::after {
  display: block;
}

.form__radio:focus + .form__label,
.form__checkbox:focus + .form__label {
  outline: 1px solid #4d90fe;
  box-shadow: 0 0 5px  #4d90fe;
}


/**
 * Tablet
 */
@media (min-width: $tablet) {
  .form {
    padding-left: 40px;
  }

  .form__fieldset {
    padding-right: 35px;
  }

  .form__fieldset--one {
    padding-bottom: 81px;
  }

  .form__fieldset--two {
    padding-bottom: 48px;

    .form__column + .form__column {
      margin-top: 18px;
    }
  }

  .form__fieldset--three {
    padding-bottom: 51px;

    .form__legend {
      margin-bottom: 78px;
    }
  }

  .form__fieldset--four {
    .form__legend {
      margin-bottom: 60px;
    }
  }

  .form__legend {
    margin-bottom: 75px;
  }

  .form__subtitle {
    font-size: 36px;
  }

  .form__column + .form__column {
    margin-top: 67px;
  }

  .form__field {
    margin-bottom: 20px;
  }

  .form__label {
    font-size: 20px;
  }

  .form__wrapper--checkbox {
    display: flex;
    flex-wrap: wrap;

    .form__column {
      width: 50%;

      &:nth-child(even) {
        padding-left: 28px;
      }
    }

    .form__column + .form__column {
      margin-top: 0;
    }

    .form__field {
      margin-bottom: 31px;
    }
  }

  .form__checkbox + .form__label {
    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      top: 12px;
      left: 8px;
    }
  }

  .form__wrapper--submit {
    display: flex;

    .form__column {
      width: 50%;
      padding: 0 30px;

      &:first-child {
        padding-left: 0;
        padding-right: 50px;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .button {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
    }
  }

  .form__input {
    padding: 17px 20px;
  }

  .form__textarea {
    height: 174px;
    padding: 17px 20px;
  }

  .form__radios {
    padding: 25px 27px;

    border: 1px solid $grey-border;
  }

  .form__field--radio {
    margin-bottom: 12px;
  }

  .form__radio + .form__label {
    &::before {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }

    &::after {
      width: 18px;
      height: 18px;
      margin-top: -9px;
      left: 11px;
    }
  }

  .form__box {
    display: flex;
  }
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .form {
    padding-left: 0;
    padding-bottom: 82px;
  }

  .form__wrapper {
    display: flex;
  }

  .form__wrapper--checkbox {
    .form__column {
      width: 325px;
    }

    .form__column:nth-child(4) {
      width: auto;
    }
  }

  .form__wrapper--submit {
    .form__column {
      width: 100%;

      &:first-child {
        padding-right: 39px;
      }
    }

    .button {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .form__subtitle {
    &::before {
      display: block;
    }
  }

  .form__fieldset {
    padding-right: 0;
  }

  .form__fieldset--one {
    padding-bottom: 50px;
  }

  .form__fieldset--two {
    padding-bottom: 52px;

    .form__legend {
      margin-bottom: 82px;
    }

    .form__column + .form__column {
      margin-top: 0;
    }
  }

  .form__fieldset--three {
    padding-bottom: 54px;
  }

  .form__fieldset--four {
    padding-bottom: 30px;

    .form__legend {
      margin-bottom: 63px;
    }

    .form__column,
    .form__column:first-child,
    .form__column:nth-child(even) {
      padding: 0;
    }
  }

  .form__column {
    width: 100%;
    padding: 0 40px;

    &:first-child {
      padding-left: 0;
      padding-right: 35px;
    }

    &:last-child {
      padding-left: 44px;
      padding-right: 0;
    }
  }

  .form__column + .form__column {
    margin-top: 0;
  }

  .form__label {
    margin-right: 18px;
  }

  .form__text {
    font-size: 16px;
    text-align: left;
  }
}
