::placeholder {
  color: $brown;
}

.form__fieldset {
  padding: 0 0 30px;

  border: 0;
}

.form__legend {
  margin-bottom: 31px;
  width: 100%;
}


.form__subtitle {
  display: flex;
  align-items: center;

  @include font(24px, 24px, $font-regular, $black-two);

  &::before,
  &::after {
    content: "";
    height: 3px;

    background: $green-leaf;
  }

  &::before {
    display: none;
    width: 80px;
    margin-right: 20px;
  }

  &::after {
    min-width: 74px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 20px;
  }
}

.form__field {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__label {
  position: relative;

  margin-right: 16px;

  @include font(16px, 18px, $font-regular, $black);
  color: $black;
  text-transform: uppercase;

  white-space: nowrap;
  cursor: pointer;
}

.form__input {
  width: 100%;
  padding: 15px;

  @include font(16px, 18px, $font-regular, $black);
  text-transform: uppercase;

  border: 1px solid rgba($grey-border, 0.5);

  &:hover {
    border-color: $grey-border;
  }

  &:active,
  &:focus {
    border: 2px solid $brown;
    outline: 0;
  }

  &.form__input--error {
    border: $error

  }

  &:active + .form__icon {
    fill: $green-leaf;
  }

  &.form__input--error + .form__icon {
    fill: rgb(255, 130, 130);
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 16px;
}

.form__mail {
  width: 18px;
  height: 14px;
  margin-top: -7px;
}

.form__phone {
  width: 21px;
  height: 21px;
  margin-top: -10px;
}

.form__input--email {
  padding-right: 40px;
}

.form__input--phone {
  padding-right: 40px;
}

.form__textarea {
  height: 150px;
}

.form__text {
  @include font(14px, 16px);
  text-align: center;
}

.form__checkbox + .form__label {
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 16px;

    border: $border;
  }

  &:hover::before {
    border-color: $pinkish-grey;
  }

  &::after {
    content: "";
    position: absolute;
    left: 3px;

    display: none;
    width: 25px;
    height: 17px;

    background: url("../../img/icon-tick.svg") center no-repeat transparent;
  }
}

.form__checkbox:checked + .form__label::after {
  display: block;
}

.form__radios {
  padding: 20px;

  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;

  .form__label {
    &:hover {
      border-color: $pinkish-grey;
    }
  }
}

.form__field--radio {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .form__label {
    &:active {
      opacity: 0.3;
    }
  }
}

.form__radio + .form__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border-radius: 50%;

    border: $border;
  }

  &:hover::before {
    border-color: $pinkish-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 9px;

    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -6px;

    background: $green-leaf;
  }
}

.form__radio:checked + .form__label::after {
  display: block;
}

/**
 * Tablet
 */
 @media (min-width: $tablet) {
  .form {
    padding-left: 40px;
  }

  .form__legend {
    margin-bottom: 70px;
  }

  .form__subtitle {
    &::before {
      display: block;
    }
  }

  .form__field {
    margin-bottom: 20px;
  }

  .form__wrapper--checkbox {
    display: flex;
    flex-wrap: wrap;

    .form__column {
      width: 50%;
    }
  }

  .form__wrapper--submit {
    display: flex;

    .form__column {
      width: 50%;
      padding: 0 30px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .form__input {
    padding: 17px 20px;
  }

  .form__textarea {
    height: 174px;
    padding: 17px 20px;
  }

  .form__radios {
    padding: 25px;

    border: 1px solid $grey-border;
  }

  .form__field--radio {
    margin-bottom: 15px;
  }

  .form__radio + .form__label {
    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      width: 18px;
      height: 18px;
      margin-top: -9px;
      left: 11px;
    }
  }

  .form__box {
    display: flex;
  }
}

/**
 * Desktop
 */
 @media (min-width: $desktop) {
  .form {
    padding-left: 0;
    padding-bottom: 82px;
  }

  .form__wrapper {
    display: flex;
  }

  .form__wrapper--checkbox {
    .form__column {
      width: 25%;
    }
  }

  .form__wrapper--submit {
    .form__column {
      width: 100%;
    }
  }

  .form__column {
    width: 100%;
    padding: 0 40px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
