.gift {
  min-height: 289px;
  width: 280px;
  margin: auto;

  @include font(16px, 20px, $font-sans-serif, $white);

  background: url("../img/gift-photo-mobile@1x.jpg") center top no-repeat transparent;
}

@media(min-width: $tablet) {
  .gift {
    margin-top: 39px;
    margin-bottom: 76px;
  }
}
