.map__title {
  @include font(16px, 20px, $font-regular, $black-two);
  text-transform: uppercase;
}

.map__title,
.map__address {
  margin: 0;
  padding-bottom: 26px;
  padding-top: 31px;
}

.map__address {
  @include font(14px, 20px);
}

.map__image {
  margin-bottom: 39px;
}

@media (min-width: $tablet) {
  .map__title {
    @include font(20px, 25px, $font-regular, $black-two);
  }

  .map__address {
    text-align: right;

    @include font(16px, 20px);
  }
}
