.product {
  margin-left: -20px;
  margin-right: -20px;
  padding: 22px 20px;

  border-top: $border;
}

.product__wrapper {
  display: flex;
}

.product__wrapper--more {
  flex-direction: column;

  text-align: center;
}

.product__description {
  flex-grow: 1;
  margin-bottom: 23px;

  order: 1;
}

.product__title {
  margin: 0 0 12px;

  @include font(16px, 20px, $font-regular, $black-two);
  text-transform: uppercase;
}

.product__link {
  color: $black-two;
}

.product__list {
  @include list-reset;
}

.product__item {
  display: flex;
  justify-content: space-between;
}

.product__category {
  display: block;
}

.product__info {
  margin-top: 0;

  @include font(12px, 16px);
}

.product__image {
  margin-top: -22px;
  margin-bottom: -3px;
}

.product--more {
  padding-top: 31px;
  border-bottom: $border;

  &::before {
    content: "";
    display: block;
    margin: 0 auto 25px;
    width: 31px;
    height: 31px;

    background: url("../img/icon-plus-mobile.svg") center top no-repeat
      transparent;
    opacity: 0.2;
  }

  .product__title {
    margin-bottom: 7px;
  }

  .product__info {
    margin-bottom: 21px;
  }
}

/**
 * Tablet
 */
@media (min-width: $tablet) {
  .product {
    position: relative;

    width: 324px;
    padding: 160px 40px 40px;
    margin: 0 0 139px;
    min-height: 431px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: $grey;
    border: none;
  }

  .product__wrapper {
    flex-direction: column;

    text-align: center;
  }

  .product__description {
    margin-bottom: 18px;
  }

  .product__title {
    margin: 0 0 24px;

    @include font(20px, 20px, $font-regular, $black-two);
  }

  .product__item {
    margin-bottom: 11px;
    padding-bottom: 7px;

    border-bottom: $border;
  }

  .product__image {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateY(126px);

    margin: 0 0 0 -162px;
    width: auto;
    height: auto;
  }

  .product__category {
    display: inline;
  }

  .product__quantity {
    display: block;
  }

  .product__info {
    @include font(16px, 16px);
  }

  .product--more {
    padding: 40px;
    justify-content: flex-start;
    background: none;
    border: $border;

    &::before {
      margin: 15px auto 50px;
      width: 61px;
      height: 61px;

      background: url("../img/icon-plus.svg") center top no-repeat transparent;
    }

    .product__title {
      margin-bottom: 28px;
    }

    .product__info {
      margin-bottom: 89px;
    }
  }

  .product__title--more {
    margin-bottom: 28px;
  }

  .product__info--more {
    margin-bottom: 85px;
  }
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .product {
    width: 245px;
    margin: 0 80px 143px 0;

    background: $grey;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .product--more {
    padding-left: 35px;
    padding-right: 35px;

    background: none;
  }

  .product__description {
    margin-bottom: 17px;
  }

  .product__image {
    margin-left: -122px;
  }
}
