.product__title {
  @include font(16px, 20px, $font-regular, $black-two);
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-plus__title {
  @include font(16px, 16px, $font-regular, $black);
  text-transform: uppercase;
}

.product-plus__title--more {
  @include font(16px, 20px, $font-regular, $black-two);
}

.product-plus__info--more {
  @include font(12px, 16px);
}

.product__info {
  @include font(12px, 16px)
}

.product-plus__info {
  @include font(14px, 14px);
}
