.program {
  position: relative;
  padding-top: 29px;
}

.program__background {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 306px;

  background: $green-grass url("../img/index-background-mobile@1x.jpg") center top no-repeat;
  background-size: 320px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.program__wrapper {
  text-align: center;
}

.program__title {
  margin-bottom: 19px;

  color: $white;
  line-height: 36px;
}

.program__slogan {
  margin-bottom: 29px;

  @include font(14px, 14px, $font-regular, $white);
  text-transform: uppercase;
}

.program__image {
  margin-bottom: 3px;
}

.program__link {
  @include font(14px, 18px, $font-regular, $white);
  background: $green-leaf;
  text-transform: uppercase;
}

/**
 * Tablet
 */
@media (min-width: $tablet) {
  .program__wrapper {
    display: flex;
    flex-direction: column;
  }

  .program__background {
    display: none;
  }

  .program__title {
    width: 420px;
    margin-bottom: 33px;
    margin-left: 90px;

    text-align: left;
    color: $black-two;
    font-size: 60px;
    line-height: 60px;
  }

  .program__slogan {
    margin-bottom: 29px;
    width: 420px;
    margin-left: 90px;

    text-align: left;

    @include font(20px, 20px, $font-regular, $black-two);
  }

  .program__image {
    width: auto;
    height: auto;
    margin: auto;
    order: 1;
  }

  .program__link {
    position: absolute;
    top: 286px;

    width: 245px;
    margin-left: 90px;
  }
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .program {
    position: relative;

    padding-top: 237px;
  }

  .program__wrapper {
    position: relative;
    margin-bottom: 253px;
  }

  .program__background {
    left: 50%;

    display: block;
    height: 696px;
    width: 50%;

    background: $green-leaf url("../img/index-background-desktop@1x.jpg") left top;
    background-size: 720px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }
  }

  .program__plan {
    display: flex;
    padding: 75px 0 20px;
    justify-content: space-between;
  }

  .program__image {
    position: absolute;
    right: 224px;
    bottom: -199px;
  }

  .program__link {
    top: 246px;
  }
}
