.products {
  padding: 16px 0 25px;
}

.products__title {
  margin-bottom: 26px;
}

/**
 * Tablet
 */
@media (min-width: $tablet) {
  .products {
    padding-top: 44px;
  }

  .products__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products__title {
    margin-bottom: 165px;

    @include font(60px, 60px, $font-regular, $black-two);
  }
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .products {
    padding: 60px 0 25px;
  }

  .products__wrapper {
    justify-content: flex-start;
  }
}
