.product {
  padding: 25px 0;

  border-top: $border;
}

.product__wrapper {
  display: flex;
}

.product__wrapper--more {
  flex-direction: column;

  text-align: center;
}

.product__wrapper--description {
  width: 100%;

  order: 1;
}

.product__title {
  margin: 0 0 18px;

  @include font(16px, 20px, $font-regular, $black-two);
}

.product__list {
  @include list-reset;
}

.product__item {
  display: flex;
  justify-content: space-between;
}

.product__category {
  display: block;
}

.product__info {
  @include font(12px, 16px);
}

.product--more {
  border-bottom: $border;

  &::before {
    content: "";
    display: block;
    margin: 0 auto 25px;
    width: 31px;
    height: 31px;

    background: url("../../img/icon-plus-mobile.svg") center top no-repeat transparent;
    opacity: 0.2;
  }
}

@media (min-width: $tablet) {
  .product {
    position: relative;

    width: 324px;
    padding: 40px;
    margin-bottom: 100px;
    min-height: 431px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: $grey;
    border: none;
  }

  .product__wrapper {
    flex-direction: column;

    text-align: center;
  }

  .product__title {
    margin: 0 0 28px;

    @include font(20px, 20px, $font-regular, $black-two);
  }

  .product__item {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 32px;
    }

    border-bottom: $border;
  }

  .product__image {
    position: absolute;
    left: 50%;
    bottom: 309px;

    margin-left: -162px;
    width: auto;
    height: auto;
  }

  .product__category {
    display: inline;
  }

  .product__quantity {
    display: block;
  }

  .product__info {
    @include font(16px, 16px);
  }

  .product--more {
    background: none;
    border: $border;

    &::before {
      margin: 15px auto 50px;
      width: 61px;
      height: 61px;

      background: url("../../img/icon-plus.svg") center top no-repeat transparent;
    }
  }

  .product__title--more {
    margin-bottom: 28px;
  }

  .product__info--more {
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop) {
  .product {
    width: 245px;
    margin-right: 40px;

    background: $grey;
  }

  .product__image {
    margin-left: -122px;
  }

  .product--more {
    background: none;
  }
}
