.products-plus {
  padding-top: 4px;
  padding-bottom: 35px;
}

.products-plus__wrapper {
  margin-top: 32px;
}

.products-plus__title {
  position: relative;
  z-index: 1;
  margin-bottom: 31px;
  width: 100%;

  @include font(24px, 24px, $font-regular, $black-two);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 17px;
    left: 0;
    right: 0;
    height: 3px;

    background: $green-leaf;
  }

  .container {
    display: block;
  }
}

.products-plus__title-text {
  display: inline-block;
  margin-left: -20px;
  padding: 0 20px;
  background: $white;
}

/**
 * Tablet
 */
@media (min-width: $tablet) {
  .products-plus {
    margin-top: -103px;
  }

  .products-plus__title {
    margin-top: 21px;
    margin-bottom: 85px;
    font-size: 36px;
  }

  .products-plus__title-text {
    margin-left: 0;
    padding-left: 39px;
    padding-right: 35px;
  }
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .products-plus {
    margin-top: -118px;
    padding-bottom: 86px;
  }

  .products-plus__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .products-plus__title {
    margin-bottom: 88px;
  }

  .products-plus__title-text {
    margin-left: -39px;
  }
}
