.products {
  padding: 31px 0 25px;
}

.products__title {
  margin-bottom: 35px;
}

@media (min-width: $tablet) {
  .products__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
