.products-plus {
  margin-top: -103px;
  padding-top: 4px;
  padding-bottom: 35px;
}

.products-plus__wrapper {
  margin-top: 32px;
}

/**
 * Desktop
 */
@media (min-width: $desktop) {
  .products-plus {
    padding-bottom: 86px;
  }

  .products-plus__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
