.program {
  padding-top: 29px;

  background: url("../img/index-background-mobile@1x.jpg") center top no-repeat transparent;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.program__wrapper {
  text-align: center;
}

.program__title {
  margin-bottom: 19px;

  color: $white;
  line-height: 36px;
}

.program__slogan {
  margin-bottom: 29px;

  @include font(14px, 14px, $font-regular, $white);
  text-transform: uppercase;
}

.program__image {
  margin-bottom: 3px;
}

.program__link {
  @include font(14px, 18px, $font-regular, $white);
  background: $green;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .program {
    background: none;
  }

  .program__wrapper {
    display: flex;
    flex-direction: column;
  }

  .program__title {
    width: 420px;
    margin-bottom: 33px;
    margin-left: 90px;

    text-align: left;
    color: $black-two;
    font-size: 60px;
    line-height: 60px;
  }

  .program__slogan {
    margin-bottom: 29px;
    width: 420px;
    margin-left: 90px;

    text-align: left;

    @include font(20px, 20px, $font-regular, $black-two);
  }

  .program__image {
    width: auto;
    height: auto;
    margin: auto;
    order: 1;
  }

  .program__link {
    width: 245px;
    margin-left: 90px;
  }
}

@media (min-width: $desktop) {
  .program {
    position: relative;

    padding-top: 237px;

    background: url("../img/index-background-desktop@1x.jpg") right top no-repeat transparent;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 320px auto;
    }
  }

  .program__wrapper {
    margin-bottom: 253px;
  }

  .program__plan {
    display: flex;
    padding: 22px 0 20px;
    justify-content: space-between;
  }

  .program__image {
    position: absolute;
    right: 324px;
    top: 159px;
  }
}
